 <div style="max-width:560px; padding:0 10px;">
	 <h3><button class="btn btn-danger btn-xs" data-title="Delete" ng-click="removeTagg(tagg)" style="margin-right:10px; margin-bottom:5px"><span class="glyphicon glyphicon-trash"></span></button>{{tagg.title}}</h3>
	 <p><strong>Created: {{tagg.date}}</strong></p>
	 <a href="{{tagg.url}}">{{tagg.url}}</a>        
	 <p>        
	    <a class="embedly-card" href="{{tagg.url}}"></a>
	 </p>
	 <h4>Tag(s): <span style="color:gray" ng-repeat="tag in tagg.tag">{{tag.tag}} </span></h4>  
	 <hr>
 </div>