<div class="container">

<!-- <div class="container">
   <div class="row home-logo">
     <img src="../../../assets/images/tagg-logo-main.jpg">
   </div>
</div> -->

    <form class="form-inline tagg-form" name="taggForm">

      <div class="container">
        <div class="row">
          <div class="col-md-6 col-sm-12">
            <div class="form-group title-input" style="width:100%">
              <label for="title tagg-label">Title:</label>
              <input type="text" class="form-control input-lg" id="title" placeholder="Title" ng-model="title" style="width:90%">
            </div>
          </div>
          <div class="col-md-6 col-sm-12">
            <div class="form-group link-input" style="width:100%">
              <label for="link tagg-label">Link:</label>
              <input type="text" class="form-control input-lg" id="link" placeholder="URL" ng-model="url" style="width:90%">
            </div>
          </div>          
        </div>
        <div class="row" style="margin-top:30px">
          <div class="col-md-12 col-sm-12">
            <!-- <div class="form-group tag-input" style="width:100%">
              <label for="title tagg-label">Tag(s):</label>
              <input type="text" class="form-control input-lg" id="tag" placeholder="Tag(s)" ng-model="tag" style="width:90%">
            </div> -->


            <tags-input ng-model="tag">
        <!-- <auto-complete source="loadTags($query)"></auto-complete> -->
            </tags-input>
          </div>
        </div>
        
        <div class="row" style="margin-top:20px">
          <div class="col-md-6 col-md-offset-3" style="text-align:center">      
            <button class="button button-3d button-primary button-jumbo button-rounded save-tagg-btn" ng-click="saveTagg()">Save Tagg<i class="fa fa-flag" style="margin-left:12px"></i></button>
          </div>
        </div>

      </div>

    </form>

    

    <button ng-click="taggys()">taggys</button>


    <!-- <div class="row dropdown" style="margin-top: 30px">
        <div class="col-md-3">
           <select class="form-control tags-dropdown" ng-init="tagFilterValue = tags[0]" ng-model="tagFilterValue">
             <option ng-repeat="tagz in tags">{{tagz.tag}}</option>
           </select>
        </div>
        <div class="col-md-2">
           <button class="btn btn-success" type="button" id="tagFilter" ng-click="filterTaggs(tagFilterValue)">Filter</button>
        </div>
    </div> -->


   <!--  <div class="row dropdown" style="margin-top: 30px">
      <div class="col-lg-6 col-lg-offset-3">
        <div class="input-group">
          <select class="form-control tags-dropdown" ng-init="tagFilterValue = tags[0]" ng-model="tagFilterValue">
             <option ng-repeat="tagz in tags">{{tagz.tag}}</option>
           </select>
          <span class="input-group-btn">
            <button class="btn btn-success" type="button" id="tagFilter" ng-click="filterTaggs(tagFilterValue)">Filter!</button>
          </span>
        </div>
      </div>
    </div>
 -->
    <!-- <tags-input ng-model="tags">
            <auto-complete source="loadTags($query)"></auto-complete>
        </tags-input> -->

   <!--  <h2>Tagg List:</h2>

           <button class="btn btn-warning" type="button" id="tagFilter" ng-click="refresh()">reload</button> -->


    <!-- <div class="row" ng-repeat="tagg in taggs | filter : filterTag : true">
      <div class="col-md-1"><button class="btn btn-danger btn-xs" data-title="Delete" ng-click="removeTagg(tagg)"><span class="glyphicon glyphicon-trash"></span></button></div>
      <div class="col-md-1"><h4>TITLE: </h4></div>
      <div class="col-md-1"><h4 class="link-style">{{tagg.title}}</h4></div>  
      <div class="col-md-1"><h4>URL: </h4></div>
      <div class="col-md-2"><h4 class="link-style"><a ng-href="http://{{link.url}}">{{tagg.url}}</a></h4></div>
      <div class="col-md-1"><h4>TAG: </h4></div>
      <div class="col-md-2"><h4 class="link-style">{{tagg.tag[0].tag}}</h4></div>
      <div class="col-md-1"><h4>CREATED: </h4></div>
      <div class="col-md-2"><h4 class="link-style">{{tagg.date}}</h4></div>
    </div> -->

    <!-- <div class="row">
      <div class="col-md-6" ng-repeat="tagg in taggs | filter : filterTag : true">
        <h3>{{tagg.title}}</h3>
        <p><strong>Created: {{tagg.date}}</strong></p>
         <a href="{{tagg.url}}">{{tagg.url}}</a>        
        <p>       
         <a class="embedly-card" href="{{tagg.url}}"></a>
        </p>
        <h4>Tag(s): <span style="color:gray">{{tagg.tag[0].tag}}</span></h4>        
      </div>
    </div> -->

  <!-- <div masonry>
    <div class="masonry-brick" ng-repeat="tagg in taggs | filter : filterTag : true">
      <tagg-brick>    
    </div>

  </div> -->





    

</div>